<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <title>vue 组件</title>
  <style>
  </style>
</head>

<body>
  <div id="app">
    <!-- 属性都用短横线‘-’ -->
    <panel v-for="(article, index) in articles" :type="article.type" @say-title="parent" :key="index">
      <div slot="title" v-html="article.title"></div>
      <div slot="content">{{article.content}}</div>
      <div v-if="article.author">{{article.author}}</div>
    </panel>
  </div>

  <template id="panel">
    <div class="panel" :class="[color]">
      <div class="panel-heading" ref="head">
        <slot name="title"></slot>
      </div>
      <div class="panel-body">
        <slot name="content"></slot>
      </div>
      <div class="panel-footer">
        <slot>作者：匿名</slot>
        <button @click="say">点我说标题</button>
      </div>
    </div>
  </template>

  <script src="./node_modules/vue/dist/vue.min.js"></script>
  <script>
    Vue.config.devtools = true;

    let panel = {
      template: '#panel',
      props: {
        type: { // 子组件不能更改父组件传递的属性
          type: [String],
          default: 'default'
        }
      },
      computed: {
        color() {
          return 'panel-' + this.type;
        }
      },
      methods: {
        say() {
          let title = this.$refs.head.innerText;
          this.$emit('say-title', title);
        }
      }
    };

    let vm = new Vue({
      el: '#app',
      data: {
        articles: [
          {
            type: 'warning',
            title: '<h2>Vue</h2>',
            content: '这是vue的文章',
            author: '作者：leo'
          },
          {
            type: 'primary',
            title: '<h2>React</h2>',
            content: '这是react的文章',
          },
          {
            type: 'danger',
            title: '<h2>Angular</h2>',
            content: '这是Angular的文章',
          }
        ]
      },
      components: {
        panel
      },
      methods: {
        parent(title) {
          alert(title);
        }
      }
    });
  </script>
</body>

</html>