<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>两列布局</title>
  <style>
    .left {
      width: 200px;
      float: left;
      background: green;
      height: 200px;
    }

    .right {
      margin-left: 200px;
      background: red;
      height: 200px;
    }
  </style>
</head>
<body>
  <div class="left">左边左边左边左边左边</div>
  <div class="right">右边右边右边右边右边右边右边右边右边</div>
</body>
</html>